@use '_partials/reset' as *;
@use '_partials/variables' as *;
@use '_partials/typography' as *;
@use '_partials/mixins' as *;

//  web app so stay in viewport
#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}